@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  align-items:center;
}

.left{
  text-justify:left;
}



/* .App-header {
  background-color: #081121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */




.try {
  font-family:arial black;
  font-size:70px;
  background-image: 
    linear-gradient(to right, rgb(179, 179, 179), rgb(66, 66, 66), rgb(179, 179, 179)); 
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  animation: rainbow-animation 5000s linear infinite;
  
}

@keyframes rainbow-animation {
  to {
      background-position: 4500vh;
  }
}

.navbar{
  margin:auto;
  max-width:2000px;
}

.scale{
  scale: 2;
}





